*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
body {
    font-family: var(--font-pt-serif);
}

h1 {
  font-family: var(--font-marck);
  font-size: var(--titre-du-site-header);
  color: var(--jaune);
  text-align: center;
  font-weight: normal;
  margin-top: 31px;
}

h2 {
  font-family: var(--font-pt-sans);
  font-size: var(--titre-du-site-header);
  color: var(--jaune-orange);
  text-align: center;
  margin-top: 23px;
  font-style: bold;
}

h3 {
  font-family: var(--font-pt-sans);
  font-size: var(--titre-du-site-header);
  color: var(--jaune-orange);
  text-align: center;
  font-style: italic;
  font-weight: normal;
  margin-top: -20px;
}

h4 {
  font-family: var(--font-pt-sans);
  font-size: var(--titre-menu);
  color: var(--jaune-orange);
  text-align: center;
  font-style: italic;
  font-weight: normal;
  padding-bottom: 11px;
}

h5 {
  font-family: var(--font-pt-sans);
  font-style: italic;
  font-weight: bold;
  font-size: var(--sous-titre);
  color: var(--jaune);
  margin-left: 18px;
  margin-top: 35px;
}

p {
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 24px;
}