img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin: 0;
}

figcaption {
    font-family: var(--font-pt-sans);
    font-style: italic;
    font-size: var(--légende);
    color: var(--black);
    text-align: center;
}