.carrousel1,
.carrousel2 {
	grid-column: 2;
	grid-row: 2;
	width: 197px;
	padding: 0px;
	position: relative;
	overflow: hidden;
	margin-left: 89px;
}

.droite1,
.droite2 {
	grid-row: 2;
	grid-column: 1;
	width: 40px;
}

.images1, 
.images2 {
	width: 6600px;
	height: 385px;
	left:0;
}

.images1 img,
.images2 img {
	width: 197px;
	height: 324px;
}

.image1,
.image2 {
	position: absolute;
	top:0;
	left:0;
	z-index: 0;
}

.car_fond {
	background-color: var(--background);
}

.legendetexte {
	position: relative;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 2;
	line-height: 3em;
	color: var(--black);
	background-color: var(--background);
	top: 0;
	display: none;
}