.pa_debut {
    background-image: url(../../../public/img/images/photo_fond_accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-bottom: 25px;
}

.header_accueil {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.btn-accueil {
    background-color: var(--gris-fonce);
}

.pa_header_title {
    font-family: var(--font-marck);
    font-style: normal;
    font-weight: normal;
    font-size: 50px; 
    text-align: center;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 100px;
}

.pa_fleche {
    margin-top: 353px;
}

.pa_title {
    font-family: var(--font-pt-sans);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    color: var(--gris-fonce);
}

.pa_line_1 {
    width: 276px;
    height: 3px;
    background: var(--jaune);
    margin-top: 5px;
    margin-bottom: 6px;
    margin-right: 0px;
    border: none;
}

.pa_line_2 {
    width: 112px;
    height: 3px;
    background: var(--jaune-orange);
    margin-bottom: 35px;
    margin-right: 0px;
    border: none; 
}

.pa_legende_1 {
    margin-bottom: 35px;
}

.pa_btn {
    margin-top: 35px;
}

.btn_fin {
    margin-bottom: 35px;
}

/* Boutons vers les articles */

.pa_btn-art {
    display: block;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.pad {
    padding-top: 35px;
    padding-bottom: 35px;
}


.pa_btn-fig {
    border: 1px dashed var(--gris-clair);
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
}

.pa_btn-img {
    width: 26.667vw;
    border-radius: 10px 0px 0px 10px;
    flex: none;
}

.pa_btn-img-2 {
    width: 33.067vw;
    border-radius: 0px 10px 10px 0px;
    flex: none;
}

.pa_btn-title {
    font-family: var(--font-pt-sans);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: var(--gris-texte);
    margin-top: 7px;
    flex: auto;
    text-align: left;
}

.pa_btn-subtitle {
    font-family: var(--font-pt-sans);
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    margin-top: -10px;
    color: var(--gris-texte);
    text-align: left;
} 

.pa_btn-line {
    width: 85px;
    height: 2px;
    background: var(--jaune);
    border: none;
    margin-top: -10px;
    margin-left: 14px;
}

.pa_btn-text {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--black);
    text-align: left;
    margin-right: 35x;
    margin-top: 11px;
}

.pa_btn-plus {
    font-family: var(--font-pt-sans);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: var(--jaune);
    text-align: right;
    margin-right: 14px;
}